/* UNIVERSAL ELEMENTS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

strong {
    font-weight: 600!important;
}

.lead {
    font-size: 1.3rem;
    font-weight: 400;
}

.section {
    padding: 30px;
}

.section:nth-of-type(2n+1) {
    background-color: #f5f5f5;
}

.section-heading {
    border-left: 10px solid orange;
    padding: 10px 20px;
    font-weight: 700;
}

.subsection-hr {
    width: 30%;
    margin-left: 35%;
    height: 3px;
    background-color: orange;
    margin-bottom: 40px;
}

.btn-img {
    border: none;
    height: 20px;
}

.btn-img-lg
{
    height: 30px;
}

/* NAVBAR */

#topnav {
    padding: 0px 40px;
    color: white!important;
    transition: all 0.5s ease-in;
}

#topnav.scrolled {
    background-color: rgba(255,255,255,0.9);
    transition: all 0.5s ease-in;
    border-bottom: 1px solid gray;
}

#name-logo {
    background-color: rgba(255,255,255,0.9);
    padding: 0px 20px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s ease-in;
}

#logo-img {
    height: 80px;
}

#name-logo.scrolled {
    background-color: rgba(255,255,255,0)!important;  
    transition: all 0.5s ease-in; 
}

.navbar-collapse {
    height: 100%;
}

.nav-item {
    padding: 20px 40px!important;
    color: white!important;
    font-size: 1.5rem;
}

.nav-item.scrolled {
    padding: 20px 40px!important;
    color: black!important;
}

.nav-item:hover {
    color: white;
}


/* COVER REGION */

#cover {
    background: url("../img/topbackground.jpeg");
    height: 100vh;
    background-size: cover;
}

.overlay {
    padding: 0px 50px;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* ABOUT SECTION */

#profile-img {
    height: 250px;
    width: 250px;
    background: url('../img/profile-pic.jpg');
    background-size: cover;
}

#intro .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
}

#intro .img-col {
    align-items: center;
}

#connect-links .row {
    display: flex;
    justify-content: center;
}

.connect-icon {
    height: 50px;
    margin: 20px 30px;
}


/* TECH SECTION */

#tech .container {
    width: 98%;
    max-width: 1900px;
}

.tech-logo {
    height: 80px;
    max-width: 150px;
    margin: 20px 30px;
    transition: all 0.2s ease-in;
}

.tech-logo:hover {
    transform: scale(1.2);
}

.tech-logo-sm {
    height: 70px;
}

#resume-btn {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    transition: all 0.2s ease-in;
}

#resume-btn:hover {
    background-color: #000;
    color: white;
    text-decoration: none;
}

/* PROJECTS SECTION */

#projects .container {
    width : 98%;
    max-width: 1500px;
}

.card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

.card:hover {
    transform : scale(1.05);
}

.card-header {
    border: none;
    border-radius: 15px 15px 0px 0px!important;
}

.card-img-top {
    border-radius: 15px 15px 0px 0px!important;
}

.card-body {
    /* background-color: #f5f5f5; */
    font-size: 1.3rem;
    border-radius: 0px 0px 15px 15px;
    padding: 20px 10px;
}

.used-skills {
    font-weight: 600;
    color: grey;
}

.card-btn {
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
}

.card-btn:hover {
    color: black;
    text-decoration: none;
}


/* FOOTER */

#footer {
    background-color: orange;
    color: white;
}

#footer hr {
    width: 40%;
    margin-left: 30%;
    background-color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 700px) 
{
    #logo-img {
        height: 50px;
    }

    html {
        width: 100%;
    }

    body {
        width: 100%;
    }

    .overlay {
        padding: 20px 10px;
    }

    .display-1 {
        font-size: 4rem;
    }

    .display-3 {
        font-size: 3rem;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    #cover {
        height: 100vh;
    }

    .section {
        padding: 20px 10px;
    }

    .col-lg-6 {
        padding: 0px;
    }

    p {
        width: 100%;
    }

    .tech-logo {
        height: 60px;
        margin: 20px;
    }

    .tech-logo-sm {
        height: 50px;
    }

    #footer hr {
        width: 80%;
        margin-left: 10%;
    }
}

